<ion-view title="Declaro todo o meu amor a VOCÊ">
    <ion-content padding="true">
	    <div class="card">
			Erika,<br/>
			Sempre pedi a Deus uma namorada que fosse minha companheira, porém Deus não me escutou e me deu muito mais de uma companheira. Me deu uma <b>amizade perfeita, o sorriso mais lindo, a professorinha dos meus sonhos, o bico mais lindo quando esta brava, a mulher mais feia quando esta chorando, mas em fim é a mulher que quero para minha vida toda.</b><br/>
			Quantos momentos nós vivemos, tivemos momentos tão feliz mas também alguns tristes, porém em todos eles você esta ao meu lado e ao lado das pessoas mais importantes em minha vida, <b>minha familia</b>. Familia que agora e sempre você faz parte. Com você também encontrei minha outra familia, ou melhor a <b>sua familia</b> que tenho um grande amor e carinho.<br/>
			E aquela PIZZA eterna que você me deve? rsrsrs. Foram tantos momentos melhores do que apenas uma PIZZA.<br/>
			Me lembro até hoje quando nós fomos no MAC pela primeira vez e aquele brigadeiro da Bath, estava gostoso? O brigadeiro que dei com maior <b>amor</b> para conquistar seu coração<br/>
			Quanta evolução tivemos juntos, quantas escolhas fiz e faço <b>pensando em você</b>, SÃO TANTAS. As vezes as mais tolas e as vezes as mais sabias.<br/><br/>

			<b>MEU EU EM VOCÊ</b>

			Independente de qualquer coisa saiba que existe uma pessoa do outro lado do mundo(Mundo de última geração <b>Guarulhos</b> rsrsrs) que <b>TE AMA TANTO MAIS TANTO TANTO TANTO</b><br/><br/>
			São 3 anos de muito mais<br/><br/>

			<b>EU SOU MUITO FELIZ POR TER VOCÊ COMIGO</b>
		</div>

	</ion-content>
</ion-view>