<ion-view title="Momentos" >
    <ion-content padding="true">
    	<ion-slide-box show-pager="false" does-continue="true">
		  	<ion-slide>
		    	<div class="box">
		    		<h1>Onde tudo Começou</h1>
		    		<img src="../img/01.jpg">
		    	</div>
		  	</ion-slide>
		  	<ion-slide>
		  		<div class="box">
		    		<h1>Com uma PIZZA</h1>
		    		<img src="../img/02.jpg">
		    	</div>
		  	</ion-slide>
		  	<ion-slide>
		  		<div class="box">
		    		<h1>E assim começa nossa história</h1>
		    		<img src="../img/03.jpg">
		    	</div>
		  	</ion-slide>
		  	<ion-slide>
		  		<div class="box">
		    		<h1>Uma de nossas primeiras fotos e 1ª vez que o carro acabou a bateria rsrs</h1>
		    		<img src="../img/04.jpg">
		    	</div>
		  	</ion-slide>
		  	<ion-slide>
		  		<div class="box">
		    		<h1>Nossa primeira etapa</h1>
		    		<img src="../img/13.jpg">
		    	</div>
		  	</ion-slide>
		  	<ion-slide>
		  		<div class="box">
		    		<h1>Compartilhando sempre nosso momentos juntos</h1>
		    		<img src="../img/05.jpg">
		    	</div>
		  	</ion-slide>
		  	<ion-slide>
		  		<div class="box">
		    		<h1>Minha caipirinha mais linda s2</h1>
		    		<img src="../img/06.jpg">
		    	</div>
		  	</ion-slide>
		  	<ion-slide>
		  		<div class="box">
		    		<h1>Com você ate o metro fica bom</h1>
		    		<img src="../img/07.jpg">
		    	</div>
		  	</ion-slide>
		  	<ion-slide>
		  		<div class="box">
		    		<h1>Minha segunda familia</h1>
		    		<img src="../img/08.jpg">
		    	</div>
		  	</ion-slide>
		  	<ion-slide>
		  		<div class="box">
		    		<h1>SUA segunda familia =D</h1>
		    		<img src="../img/09.jpg">
		    	</div>
		  	</ion-slide>
		  	<ion-slide>
		  		<div class="box">
		    		<h1>Agradecendo a Deus por tudo que fez em nossas vidas</h1>
		    		<img src="../img/10.jpg">
		    	</div>
		  	</ion-slide>
		  	<ion-slide>
		  		<div class="box">
		    		<h1>O melhor bolo do Ben 10</h1>
		    		<img src="../img/11.jpg">
		    	</div>
		  	</ion-slide>
		  	<ion-slide>
		  		<div class="box">
		    		<h1>Minha princesa</h1>
		    		<img src="../img/12.jpg">
		    	</div>
		  	</ion-slide>
		  	<ion-slide>
		  		<div class="box">
		    		<h1>O sorriso mais lindo</h1>
		    		<img src="../img/14.jpg">
		    	</div>
		  	</ion-slide>
		  	<ion-slide>
		  		<div class="box">
		    		<h1>Somente para te lempra que....</h1>
		    		<img src="../img/15.jpg">
		    	</div>
		  	</ion-slide>
		  	<ion-slide>
		  		<div class="box">
		    		<h1>Qual será os próximos passos minha <b>NOIVA!</b></h1>
		    		<img src="../img/16.jpg">
		    	</div>
		  	</ion-slide>
		</ion-slide-box>
	</ion-content>
</ion-view>
