<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.ggr384678" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>3 Anos L & E</name>
  <description>
        Comemoração de nossos 3 anos de namoro (obs: Eu não esqueci). Declaro todo o meu amor a VOCÊ! 
    </description>
  <author email="leo_renan@outlook.com" href="http://maxconnect.com.br/">
      Max Connect - Léo Renan
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>